In [6]:
%matplotlib inline
import numpy as np
import pandas as pd
import xarray as xr
from datetime import datetime,timedelta
from matplotlib import pyplot as plt
from netCDF4 import Dataset
import requests

In [27]:
url=(r'https://drive.google.com/drive/folders/145Qlpe7SbqZud6aojZJTyOBi1EXR4tdA/SP_SST.nc')
data = requests.get(url).content
url_1="https://raw.githubusercontent.com/sydney-machine-learning/cyclonedatasets/main/SouthIndian-SouthPacific-Ocean/South_pacific_hurricane.csv"
df_1 = pd.read_csv(url_1, sep=',',error_bad_lines=False)
data

C:\Users\CHAITANYA AGRAWAL\AppData\Local\Temp\ipykernel_10508\3678831261.py:4: FutureWarning: The error_bad_lines argument has been deprecated and will be removed in a future version. Use on_bad_lines in the future.


  df_1 = pd.read_csv(url_1, sep=',',error_bad_lines=False)

b'<html lang=en><meta charset=utf-8><meta name=viewport content="initial-scale=1, minimum-scale=1, width=device-width"><title>Error 400 (Bad request)!!1</title><style nonce="ycYfv99kYoefp8Fq1HPw_A">*{margin:0;padding:0}html,code{font:15px/22px arial,sans-serif}html{background:#fff;color:#222;padding:15px}body{color:#222;text-align:unset;margin:7% auto 0;max-width:390px;min-height:180px;padding:30px 0 15px;}* > body{background:url(//www.google.com/images/errors/robot.png) 100% 5px no-repeat;padding-right:205px}p{margin:11px 0 22px;overflow:hidden}pre{white-space:pre-wrap;}ins{color:#777;text-decoration:none}a img{border:0}@media screen and (max-width:772px){body{background:none;margin-top:0;max-width:none;padding-right:0}}#logo{background:url(//www.google.com/images/branding/googlelogo/1x/googlelogo_color_150x54dp.png) no-repeat;margin-left:-5px}@media only screen and (min-resolution:192dpi){#logo{background:url(//www.google.com/images/branding/googlelogo/2x/googlelogo_color_150x54dp.png) no-repeat 0% 0%/100% 100%;-moz-border-image:url(//www.google.com/images/branding/googlelogo/2x/googlelogo_color_150x54dp.png) 0}}@media only screen and (-webkit-min-device-pixel-ratio:2){#logo{background:url(//www.google.com/images/branding/googlelogo/2x/googlelogo_color_150x54dp.png) no-repeat;-webkit-background-size:100% 100%}}#logo{display:inline-block;height:54px;width:150px}</style><main id="af-error-container" role="main"><a href=//www.google.com><span id=logo aria-label=Google role=img></span></a><p><b>400.</b> <ins>That\xe2\x80\x99s an error.</ins><p>The server cannot process the request because it is malformed. It should not be retried. <ins>That\xe2\x80\x99s all we know.</ins></main>'

In [26]:
time=data.content['time'][0]

AttributeError: 'bytes' object has no attribute 'content'

In [8]:
df_1['Time']=pd.to_datetime(df_1['Time'],format='%Y%m%d%H')
time=ds.variables['time'][:]
lat=ds.variables['latitude'][:]
lon=ds.variables['longitude'][:]
sst=ds.variables['sst']
sd=ds.variables['expver']
time

masked_array(data=[ 692496,  692502,  692508, ..., 1064310, 1064316,
                   1064322],
             mask=False,
       fill_value=999999)

In [9]:
ds['time']

<class 'netCDF4._netCDF4.Variable'>
int32 time(time)
    units: hours since 1900-01-01 00:00:00.0
    long_name: time
    calendar: gregorian
unlimited dimensions:
current shape = (2040,)
filling on, default _FillValue of -2147483647 used

In [10]:
df_1['Time']=pd.to_datetime(df_1['Time'],format='%Y%m%d%H')
time=ds.variables['time'][:]
lat=ds.variables['latitude'][:]
lon=ds.variables['longitude'][:]
sst=ds.variables['sst']

In [11]:
df_1

,Basin,No. of Cycl,Time,V5,V6,Lat,Lon,Speed(knots),lat_tenth,lon_tenth
0,SP,14,1982-01-25 18:00:00,BEST,0,180S,1541E,25,18.0,154.1
1,SP,14,1982-01-26 00:00:00,BEST,0,191S,1548E,25,19.1,154.8
2,SP,14,1982-01-26 06:00:00,BEST,0,197S,1557E,25,19.7,155.7
3,SP,14,1982-01-26 12:00:00,BEST,0,199S,1567E,30,19.9,156.7
4,SP,14,1982-01-26 18:00:00,BEST,0,201S,1578E,35,20.1,157.8
...,...,...,...,...,...,...,...,...,...,...
12002,SP,27,2019-05-15 18:00:00,BEST,0,118S,1396E,25,11.8,139.6
12003,SP,27,2019-05-16 00:00:00,BEST,0,112S,1385E,25,11.2,138.5
12004,SP,27,2019-05-16 06:00:00,BEST,0,112S,1374E,20,11.2,137.4
12005,SP,27,2019-05-16 12:00:00,BEST,0,109S,1362E,20,10.9,136.2
12006,SP,27,2019-05-16 18:00:00,BEST,0,103S,1352E,25,10.3,135.2

In [12]:
intial=1900010100
initial_date=pd.to_datetime(intial,format='%Y%m%d%H')
df_1["diff"]=df_1['Time']-initial_date
df_1

,Basin,No. of Cycl,Time,V5,V6,Lat,Lon,Speed(knots),lat_tenth,lon_tenth,diff
0,SP,14,1982-01-25 18:00:00,BEST,0,180S,1541E,25,18.0,154.1,29974 days 18:00:00
1,SP,14,1982-01-26 00:00:00,BEST,0,191S,1548E,25,19.1,154.8,29975 days 00:00:00
2,SP,14,1982-01-26 06:00:00,BEST,0,197S,1557E,25,19.7,155.7,29975 days 06:00:00
3,SP,14,1982-01-26 12:00:00,BEST,0,199S,1567E,30,19.9,156.7,29975 days 12:00:00
4,SP,14,1982-01-26 18:00:00,BEST,0,201S,1578E,35,20.1,157.8,29975 days 18:00:00
...,...,...,...,...,...,...,...,...,...,...,...
12002,SP,27,2019-05-15 18:00:00,BEST,0,118S,1396E,25,11.8,139.6,43598 days 18:00:00
12003,SP,27,2019-05-16 00:00:00,BEST,0,112S,1385E,25,11.2,138.5,43599 days 00:00:00
12004,SP,27,2019-05-16 06:00:00,BEST,0,112S,1374E,20,11.2,137.4,43599 days 06:00:00
12005,SP,27,2019-05-16 12:00:00,BEST,0,109S,1362E,20,10.9,136.2,43599 days 12:00:00
12006,SP,27,2019-05-16 18:00:00,BEST,0,103S,1352E,25,10.3,135.2,43599 days 18:00:00

In [13]:
df_1['total_1']=(df_1['diff']/timedelta(seconds=1))/3600
df_1['sst_1']=""
df_1

,Basin,No. of Cycl,Time,V5,V6,Lat,Lon,Speed(knots),lat_tenth,lon_tenth,diff,total_1,sst_1
0,SP,14,1982-01-25 18:00:00,BEST,0,180S,1541E,25,18.0,154.1,29974 days 18:00:00,719394.0,
1,SP,14,1982-01-26 00:00:00,BEST,0,191S,1548E,25,19.1,154.8,29975 days 00:00:00,719400.0,
2,SP,14,1982-01-26 06:00:00,BEST,0,197S,1557E,25,19.7,155.7,29975 days 06:00:00,719406.0,
3,SP,14,1982-01-26 12:00:00,BEST,0,199S,1567E,30,19.9,156.7,29975 days 12:00:00,719412.0,
4,SP,14,1982-01-26 18:00:00,BEST,0,201S,1578E,35,20.1,157.8,29975 days 18:00:00,719418.0,
...,...,...,...,...,...,...,...,...,...,...,...,...,...
12002,SP,27,2019-05-15 18:00:00,BEST,0,118S,1396E,25,11.8,139.6,43598 days 18:00:00,1046370.0,
12003,SP,27,2019-05-16 00:00:00,BEST,0,112S,1385E,25,11.2,138.5,43599 days 00:00:00,1046376.0,
12004,SP,27,2019-05-16 06:00:00,BEST,0,112S,1374E,20,11.2,137.4,43599 days 06:00:00,1046382.0,
12005,SP,27,2019-05-16 12:00:00,BEST,0,109S,1362E,20,10.9,136.2,43599 days 12:00:00,1046388.0,
12006,SP,27,2019-05-16 18:00:00,BEST,0,103S,1352E,25,10.3,135.2,43599 days 18:00:00,1046394.0,

In [19]:
for index,row in df_1.iterrows():
    latitude=row['lat_tenth']
    longitude=row['lon_tenth']
    total_1=row['total_1']

    
    diff_lat=(lat-latitude)**2
    diff_lon=(lon-longitude)**2
    diff_time=(time-total_1)**2

    
    min_lat=diff_lat.argmin()
    min_lon= diff_lon.argmin()
    min_time=diff_time.argmin()

    
    df_1.loc[index,'sst_1']=sst[min_time,0,min_lat,min_lon]

In [20]:
df_1

,Basin,No. of Cycl,Time,V5,V6,Lat,Lon,Speed(knots),lat_tenth,lon_tenth,diff,total_1,sst_1
0,SP,14,1982-01-25 18:00:00,BEST,0,180S,1541E,25,18.0,154.1,29974 days 18:00:00,719394.0,302.806534
1,SP,14,1982-01-26 00:00:00,BEST,0,191S,1548E,25,19.1,154.8,29975 days 00:00:00,719400.0,302.752948
2,SP,14,1982-01-26 06:00:00,BEST,0,197S,1557E,25,19.7,155.7,29975 days 06:00:00,719406.0,302.992158
3,SP,14,1982-01-26 12:00:00,BEST,0,199S,1567E,30,19.9,156.7,29975 days 12:00:00,719412.0,302.756806
4,SP,14,1982-01-26 18:00:00,BEST,0,201S,1578E,35,20.1,157.8,29975 days 18:00:00,719418.0,302.882841
...,...,...,...,...,...,...,...,...,...,...,...,...,...
12002,SP,27,2019-05-15 18:00:00,BEST,0,118S,1396E,25,11.8,139.6,43598 days 18:00:00,1046370.0,302.877268
12003,SP,27,2019-05-16 00:00:00,BEST,0,112S,1385E,25,11.2,138.5,43599 days 00:00:00,1046376.0,302.877268
12004,SP,27,2019-05-16 06:00:00,BEST,0,112S,1374E,20,11.2,137.4,43599 days 06:00:00,1046382.0,302.94886
12005,SP,27,2019-05-16 12:00:00,BEST,0,109S,1362E,20,10.9,136.2,43599 days 12:00:00,1046388.0,302.942001
12006,SP,27,2019-05-16 18:00:00,BEST,0,103S,1352E,25,10.3,135.2,43599 days 18:00:00,1046394.0,302.928283

In [21]:
df_1.to_csv('Subs_SP.csv',index=False)
with open('Subs_SP.csv','r') as in_file, open('Output_SP.csv','w') as out_file:
  
    seen = set() 
    
    for line in in_file:
        if line in seen: 
          continue 

        seen.add(line)
        out_file.write(line)

In [22]:
df = pd.read_csv('Output_SP.csv')
df

,Basin,No. of Cycl,Time,V5,V6,Lat,Lon,Speed(knots),lat_tenth,lon_tenth,diff,total_1,sst_1
0,SP,14,1982-01-25 18:00:00,BEST,0,180S,1541E,25,18.0,154.1,29974 days 18:00:00,719394.0,302.806534
1,SP,14,1982-01-26 00:00:00,BEST,0,191S,1548E,25,19.1,154.8,29975 days 00:00:00,719400.0,302.752948
2,SP,14,1982-01-26 06:00:00,BEST,0,197S,1557E,25,19.7,155.7,29975 days 06:00:00,719406.0,302.992158
3,SP,14,1982-01-26 12:00:00,BEST,0,199S,1567E,30,19.9,156.7,29975 days 12:00:00,719412.0,302.756806
4,SP,14,1982-01-26 18:00:00,BEST,0,201S,1578E,35,20.1,157.8,29975 days 18:00:00,719418.0,302.882841
...,...,...,...,...,...,...,...,...,...,...,...,...,...
10157,SP,27,2019-05-15 18:00:00,BEST,0,118S,1396E,25,11.8,139.6,43598 days 18:00:00,1046370.0,302.877268
10158,SP,27,2019-05-16 00:00:00,BEST,0,112S,1385E,25,11.2,138.5,43599 days 00:00:00,1046376.0,302.877268
10159,SP,27,2019-05-16 06:00:00,BEST,0,112S,1374E,20,11.2,137.4,43599 days 06:00:00,1046382.0,302.948860
10160,SP,27,2019-05-16 12:00:00,BEST,0,109S,1362E,20,10.9,136.2,43599 days 12:00:00,1046388.0,302.942001
10161,SP,27,2019-05-16 18:00:00,BEST,0,103S,1352E,25,10.3,135.2,43599 days 18:00:00,1046394.0,302.928283

In [23]:
for index,row in df.iterrows():
        start=df['total_1'][index]
        for days in range(1,31):
            start=start-24*days

            latitude=df['lat_tenth'][index]
            longitude=df['lon_tenth'][index]

            diff_lat=(lat-latitude)**2
            diff_lon=(lon-longitude)**2
            diff_time=(time-start)**2


            min_lat=diff_lat.argmin()
            min_lon= diff_lon.argmin()
            min_time=diff_time.argmin()



            df.loc[index,days]=sst[min_time,0,min_lat,min_lon]

In [26]:
df = df.reset_index(drop=True)

In [27]:
df.to_csv('South Pacific.csv')